/* styles */
html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
html, body {
    height:100%;
    width:100%;
    margin:0px;
}
/* fullscreen style */
#screen:-webkit-full-screen	{
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
}
#screen:-webkit-full-screen	#clock,#screen:-webkit-full-screen #draggable,#screen:-webkit-full-screen #news,#screen:-webkit-full-screen #message{
  position: relative;
  color: white;
  border-color: black;
}
#screen:-webkit-full-screen	#clock:hover,#screen:-webkit-full-screen #draggable:hover,#screen:-webkit-full-screen #news:hover,#screen:-webkit-full-screen #message:hover{
  border-color: white;
}
#screen:-moz-full-screen		{
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
}
#screen:-ms-full-screen		{
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
}
#screen:-o-full-screen		{
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
}
#screen:full-screen			{
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
}
#screen:full-screen	#clock,#screen:full-screen #draggable,#screen:full-screen #news,#screen:full-screen #message{
  position: relative;
  color: white;
  border-color: black;
}
#screen:full-screen	#clock:hover,#screen:full-screen #draggable:hover,#screen:full-screen #news:hover,#screen:full-screen #message:hover{
  border-color: white;
}

.noIbar {
  cursor:default;
}
.move {
  cursor: move;
}

.xBox {
  cursor: pointer;
  color: red;
  display: none;
}
.move:hover  .xBox {
    display: block;
}
#screen{
  height: 50em;
  width: 100%;
  display: none;
}
#draggable{
  background-color:transparent;
}
#clock{
  background-color:transparent;
}
#news{
  background-color: transparent;
}
#message{
  background-color: transparent;
}
.example{
  background-color: black;
  color: white;
}
.normal{
  margin: 0;
}
a {
  color: white;
}
a:hover {
  color: white;
}
.navee{
  color: white;
  background-color: #100047;
  font-family: sans-serif;
}
.header{
  display: flex;
}
.fButton{
  margin: 0 0 1em 0;
  color: black;
  font-size: 24px;
  font-style: bold;
}
/* tool Content */
.tool-content {
    position: relative;
    background-color: #fefefe;
    margin: auto auto 3em auto;;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.tool-header {
    padding: 2px 16px;
    background-color: #100047;
    color: white;
}
.tool-footer {
    padding: 2px 16px;
    background-color: #100047;
    color: white;
}
